heading{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dad888;
}

body{
    background-image: url(../image/fondo5.jpg);
}


#fot-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;

}

h2{
    color: #7dc6d7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p{ 
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: #385465;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3{
    color: #7dc6d7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
ul{
    list-style-type: square;
    color: #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
li{
    margin-bottom: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
a{
    color: #9d6ea0;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.contenedor-principal{
    background-image: url(../image/fondo2.jpeg);
    max-width: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 0%;
    background-color: rgb(211, 202, 107);
    box-shadow: 0 0 10px rgb(251, 253, 235);
}
